.ant-col.news-col .news-box {
    border-radius: 5px;
    border: grey dashed 1px;
    padding: 0 10px;
    background-color: #FFFFFF;
    margin-bottom: 45px;
    line-height: 120px;
}

@media screen and (max-width: 768px) {
    .ant-col.news-col .news-box {
        margin-bottom: 0;
    }

    .ant-col.btn-col {
        padding: 10px 5px;
    }
}
