.header-container .logo {
    width: 120px;
    height: 120px;
    float: left;
    border: #444444 solid 2px;
    border-radius: 60px;
    background-color: #FFF;
    line-height: 120px;
    text-align: center;
    margin-right: 80px;
    font-size: 1.5em;
}

.header-container .menu-nav {
    width: auto;
    margin-left: 200px;
    padding: 35px 0;
}

.header-container .menu-nav .ant-col {
    background-color: darkcyan;
    min-height: 50px;
    line-height: 50px;
}

.header-container .menu-nav .ant-col.menu-col {
    color: #eeeeee;
    text-align: center;
    border-right: #007D7D solid 2px;
    font-weight: bold;
}

.header-container .menu-nav .ant-col.menu-col:hover {
    background-color: #007D7D;
}

.header-container .menu-nav .ant-col.search-col {
    background-color: #007D7D;
    padding: 0 15px;
}

.header-container .menu-nav .ant-col.search-col .search-input {
    margin: 8px 0;
}

.header-container .menu-nav .ant-menu .ant-menu-item {
    color: #eeeeee;
}

.header-container .collapse-btn {
    display: none;
    float: right;
    color: #FFF;
    width: auto;
    height: auto;
    padding: 15px;
    line-height: 40px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header-container {
        display: inline-block;
        width: 100%;
    }
    .header-container .menu-nav {
        margin-left: 0;
        padding: 0;
    }

    .header-container .menu-nav .ant-col.menu-col {
        display: none;
    }

    .header-container .menu-nav .ant-col.search-col {
        background-color: #eeeeee;
        padding: 10px;
        min-height: 34px;
        line-height: 34px;
    }
    .header-container .menu-nav .ant-col.search-col .search-input {
        margin: 8px 0;
        height: 34px;
    }

    .header-container .logo {
        width: 36px;
        height: 36px;
        border-radius: 18px;
        line-height: 36px;
        font-size: .8em;
        margin: 2px 18px;
        border: none;
    }

    .header-container .collapse-btn {
        display: inline-flex;
    }
}
