.ant-layout {
    background-color: #eeeeee;
}
.ant-layout-header {
    color: grey;
    background-color: #eeeeee;
    padding: 20px;
    height: 160px;
}
.ant-layout-footer {
    color: grey;
    background-color: #FFF;
    margin-top: 75px;
    padding: 25px 20px 25px 36px;
}

.ant-layout-content {
    color: grey;
    min-height: 280px;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    .ant-layout-content {
        padding: 0;
    }
    .ant-layout-footer {
        display: none;
    }

    .ant-layout-header {
        color: grey;
        height: 110px;
        padding: 0;
        background-color: darkcyan;
    }
}
